


body{
     background-color: #D06224 !important;
     font-family: Verdana	 !important ;

   
}

.container{
    width: 100%;
    display: flex;
     flex-direction: column; 
     margin: 0px;
}


.fotomenu {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 5px;
    overflow: hidden;
}
.dp-menu {
    background-color: #8A8635;
}
.dp-menu ul {
    background-color: #8A8635;
    
}
.dp-menu a{
    color:white;
}

.dp-menu i{
    height: 20px;
}
    .dp-menu ul li a:hover {
        background-color: #D06224;
        color: white;
    }

    card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.teste .cad {
    float: right;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 60px;
    background: rgba(223, 149, 92, 0.679);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0px;
    
}

    .card img {
        display: block;
        height: 70px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .teste .btn-cad {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D06224;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.teste .btn-cad:hover {
    background-color: #8A8635;
    border-color: white;
    color: white ;
}

.teste .text-card{
    color: white;
}


.color-botao {
    background-color: #D06224;
}

.center {
    text-align: center;
}

.form-contato {
    padding: 50px;
    margin: 0 auto;
    align-items: center;
    background-color: #8A8635;
}

.not-color {
    color: white;
    margin-top: 100px;
    margin-right: 25px;
    border-radius: 30px;
    align-items: center;
    background-color: #8A8635;
}

.not img{
    width: 800px;
    height:400px;
    }

div .card-color {
    border:0px;
    background-color: #D06224;
}


footer{
    margin-top: 10px;
    background-color: #8A8635;
    color: white;
    }
.icone a:hover{
    background-color: #D06224;
    color: white;
}

.btn-solic button:hover{
    background-color: #D06224;
    color: white;
}

.novo-btn:hover{
    background-color: #8A8635;
    color: white;
}

.form{
    border-radius: 20px;
    background-color: white;
}

h4{
 color: white;
 text-align: center;   
}

h3{
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
     flex-direction: column; 
     margin: 0px;   
   }


   .contanieer{
    float: right;
    height: 200px;
    width: 200px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 270px;
    margin-left: 30px;
    margin-right: 130px;
       
   }
  .cardss{
       position: relative;
       max-width: 300px;
       height: 250px;
       background-color: #8A8635;
       margin: 30px 10px;
       padding: 20px 15px;
       display: flex;
       flex-direction: column;
       box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
       transition: 0.3 ease-in-out;
       border-radius: 10px;
       
   }

   .cardss:hover{
        height: 420px;

   }

  .imagBx{
    position: relative;
    align-items: center;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 2px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: -40px;
    border-radius: 10px;

   }
 .cardss .imagBx img{
       max-width: 100%;
       border-radius: 4px;
       
   }

  .cardss .content{
       position: relative;
       margin-top: -140px;
       padding: 10px 15px;
       text-align: center;
       color: black;
       visibility: hidden;
       opacity: 0;
       transition: 0.3 ease-in-out;

   }

    .cardss:hover .content{

    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
    
    

   }

   .teste4{
       margin-bottom: 10px;
   }

   .carroseel{
       width: 650px;
       height: 450px;
       border-radius: 10px;
   }

   .anucio{
    width: 200px;
    height: 130px;  
   }


   .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  .submit-form {
    max-width: 300px;
    margin: auto;
  }
  .edit-form {
    max-width: 300px;
    margin: auto;
  }

  .contati{
      height: 200px;
  }

 .comentario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
  }

  .cad-comentario img{

    display: block;
    height: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;

  }

  .teste8{
      background-color: #8A8635;
  }

  .nav-cont a{ 
    text-decoration: none;
      color: white;
  }


  .nav-cont a:hover{ 
    text-decoration: none;
      color: black;
  }

  h2{
      color: white;
  }

  .erro-arrinho{
    height: 400px;
    margin-left: 450px;
    display: block;
    flex-direction: column; 
  }



  .text-carrinho{
    color: white;
    margin-left: 550px;
    text-align: center;
    display: flex;
     flex-direction: column; 
     margin: 0px;   
  }

  @media ( max-width: 750px){
    .erro-arrinho{

    height: 200px;
    margin-left: 130px;
    }

  }